.page-header {
    background-color: $off-white;
    padding: $l-size 0;
    margin-bottom: $l-size;
}

.page-header-actions {
    margin-top: $m-size;
}

.page-header-title {
    font-weight: 300;
    margin: 0;
    span {
        font-weight: bold;
    }
}

.button {
    background-color: $theme-color;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}

.button:focus {
    outline: none;
    box-shadow: none;
}

.button-link {
    background: none;
}

.menu {
    background: none;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
    width: 120px;
}

.menu:focus {
    outline: none;
    box-shadow: none;
}

